[Unit]
description=ipfs p2p daemon
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/ipfs daemon
User=User
Group=User

[Install]
WantedBy=multi-user.target
